/* Font Styles */
@font-face {
  font-family: 'FilsonSoft';
  src: url('./filsonsoft-black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'FilsonSoft';
  src: url('./filsonsoft-blackit.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'FilsonSoft';
  src: url('./filsonsoft-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FilsonSoft';
  src: url('./filsonsoft-boldit.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'FilsonSoft';
  src: url('./filsonsoft-book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FilsonSoft';
  src: url('./filsonsoft-bookit.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FilsonSoft';
  src: url('./filsonsoft-heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'FilsonSoft';
  src: url('./filsonsoft-heavyit.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'FilsonSoft';
  src: url('./filsonsoft-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FilsonSoft';
  src: url('./filsonsoft-lightit.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'FilsonSoft';
  src: url('./filsonsoft-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FilsonSoft';
  src: url('./filsonsoft-mediumit.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'FilsonSoft';
  src: url('./filsonsoft-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FilsonSoft';
  src: url('./filsonsoft-regularit.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FilsonSoft';
  src: url('./filsonsoft-thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'FilsonSoft';
  src: url('./filsonsoft-thinit.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

/* GPCommerce Fonts */
@font-face {
  font-family: 'GPCommerce';
  src: url('./GPCommerce-Air.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GPCommerce';
  src: url('./GPCommerce-AirItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GPCommerce';
  src: url('./GPCommerce-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GPCommerce';
  src: url('./GPCommerce-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'GPCommerce';
  src: url('./GPCommerce-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GPCommerce';
  src: url('./GPCommerce-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'GPCommerce';
  src: url('./GPCommerce-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GPCommerce';
  src: url('./GPCommerce-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GPCommerce';
  src: url('./GPCommerce-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GPCommerce';
  src: url('./GPCommerce-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GPCommerce';
  src: url('./GPCommerce-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GPCommerce';
  src: url('./GPCommerce-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GPCommerce';
  src: url('./GPCommerce-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'GPCommerce';
  src: url('./GPCommerce-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* Montserrat Fonts */
@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
